<p id="notice"><%= notice %></p>

<h1>Listing Extrainfos</h1>

<table>
  <thead>
    <tr>
      <th>House</th>
      <th>Managebool</th>
      <th>Managefee</th>
      <th>Internet</th>
      <th>Television</th>
      <th>Cleanfee</th>
      <th>Waterfee</th>
      <th>Parking</th>
      <th>Enterdate</th>
      <th>Aircon</th>
      <th>Laundary</th>
      <th>Pet</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @extrainfos.each do |extrainfo| %>
      <tr>
        <td><%= extrainfo.house_id %></td>
        <td><%= extrainfo.managebool %></td>
        <td><%= extrainfo.managefee %></td>
        <td><%= extrainfo.internet %></td>
        <td><%= extrainfo.television %></td>
        <td><%= extrainfo.cleanfee %></td>
        <td><%= extrainfo.waterfee %></td>
        <td><%= extrainfo.parking %></td>
        <td><%= extrainfo.enterdate %></td>
        <td><%= extrainfo.aircon %></td>
        <td><%= extrainfo.laundary %></td>
        <td><%= extrainfo.pet %></td>
        <td><%= link_to 'Show', extrainfo %></td>
        <td><%= link_to 'Edit', edit_extrainfo_path(extrainfo) %></td>
        <td><%= link_to 'Destroy', extrainfo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Extrainfo', new_extrainfo_path %>
