<p id="notice"><%= notice %></p>

<p>
  <strong>House:</strong>
  <%= @extrainfo.house_id %>
</p>

<p>
  <strong>Managebool:</strong>
  <%= @extrainfo.managebool %>
</p>

<p>
  <strong>Managefee:</strong>
  <%= @extrainfo.managefee %>
</p>

<p>
  <strong>Internet:</strong>
  <%= @extrainfo.internet %>
</p>

<p>
  <strong>Television:</strong>
  <%= @extrainfo.television %>
</p>

<p>
  <strong>Cleanfee:</strong>
  <%= @extrainfo.cleanfee %>
</p>

<p>
  <strong>Waterfee:</strong>
  <%= @extrainfo.waterfee %>
</p>

<p>
  <strong>Parking:</strong>
  <%= @extrainfo.parking %>
</p>

<p>
  <strong>Enterdate:</strong>
  <%= @extrainfo.enterdate %>
</p>

<p>
  <strong>Aircon:</strong>
  <%= @extrainfo.aircon %>
</p>

<p>
  <strong>Laundary:</strong>
  <%= @extrainfo.laundary %>
</p>

<p>
  <strong>Pet:</strong>
  <%= @extrainfo.pet %>
</p>

<%= link_to 'Edit', edit_extrainfo_path(@extrainfo) %> |
<%= link_to 'Back', extrainfos_path %>
